@charset "URF-8";
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


*{
    color: white;
}

body {
    background-color: #023047;
}

h1.fontstyle {
    font-family: Press Start 2P, Arial, Helvetica, sans-serif;
    color: white;
    display: inline;
}

header > div > h2 {
    display: inline;
    margin: 30px;
    
}

header > div > h2#especial {
    background-color: #FA8400;
    color: #023047;
}


h1.padrao {
    color: #FA8400;
    text-align: center;
    font-family: press start 2P, Arial, Helvetica, sans-serif;
}

div.head {
    display: inline;
    padding: 5px;
}

section > div {
    display: inline;
    margin: 8px;
}

table {
    height: 200px;
    

}




td{
    margin: 100px;
    border: 1px solid white;
    padding: 2px;
    text-align: center;
    
}


footer {
    text-align: center;
}