@charset "URF-8";
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    color: white;
    font-family: Montserrat;
    
}

a{
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}


header{
    margin: 30px 30px 0px 30px;
    height: 152px;
    width: 1300px;
}

body {
    background-color: #023047;
    width: 1300px;
}

div.head {
    display: inline;
    margin-right: 460px;
    width: 290px;
}

section#cabeçalho {
    text-align: center;
    display: flex;
    
}

h1.fontstyle {
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    color: white;
    display: inline-block;
    font-size: 40px;
    font-weight: 400px;
}

h1.fontstyle > span {
    color: #FA8400;
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 400px;
}


.divmenu {
    display: inline-block;
    
}
.menu {
    list-style: none;
    padding: 0px;
}
.menu li{
    display: inline;
    font-size: 20px;
}

.menu li a {
    text-decoration: none;
    padding: 30px;
}

button#especial {
    background-color: #FA8400;
    font-size: 20px;
    color: #023047;
    width: 120px;
    height: 60px;
}


h1.padrao {
    color: #FA8400;
    text-align: center;
    font-family: "Press Start 2P";
    font-size: 40px;
    font-style: normal; 
    font-weight: 400;
    line-height: 55px; 
}

section#one {
    width: 1300px;
    margin-left: 30px;
    margin-bottom: 115px;
}

section#one > a {
    display: inline-block;
    margin: 5px;
    border: 3px solid #023047;

}

a#apac {
    width: 1240px;
    height: 490px;
}

a.asec {
    width: 400px;
    height: 300px;
}

div#pac {
    margin-bottom: 20px;
    width: 1240px;
    height: 490px;
}

section#one > a:hover {
    border: 3px solid #FA8400;
    
}

section#two {
    margin-left: 30px;
    margin-bottom: 115px;
    width: 1300px;
}

section#two  div{
    width: 625px;
    margin-right: 10px;
    height: 625px;
    padding-right: 10px;
    display: inline-block;
}

section#two > div > p{
    width: 625px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
    
    

}

div.imgmenu{
    background: url(imagens/aboutus.png), lightgray 50%, cover no-repeat;
    width: 630.816px;
    height: 864px;
    display: flex;
    
}


section#car {
    margin: 115px 30px 115px 30px;
    width: 1300px;
}


section#Carreira  div{
    border: 2px solid white;
    width: 375px;
    height: 127px;
    padding-left: 25px;
    display: inline-block;
    color:#DFDFE4;
    font-size: 24px;
    font-weight: 700;
    margin-left: 10px;
    margin-bottom: 10px;
}

section#Carreira > a {
    width: 400px;
    height: 127px;
    
}

section#Carreira > a > div > div.divint {
    border: 1px solid #DFDFE4;
    border-radius: 5px;
    width: auto;
    display: inline-flex;
    height: 20px;
    padding: 6px 13px;
    color: #DFDFE4;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 0px;
    margin-right: 15px;
}
div.divint  p {
    margin: 0px;
}

section#Carreira > a:hover  div{
    border: 2px solid #FA8400;
}


section#Carreira > a:hover > div > p{
    color:  #FA8400;
}

footer {
    text-align: center;
    width: 1300px;
    height: 100px;
    flex-shrink: 0;
    border-top: 1px solid #DFDFE4
}
footer > p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


section.textgames {
    width: 1240px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 100px;
    margin-left: 30px;
}

div.valorgames{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    width: 315px;
    height: 52px;
    display: inline-flex;
    margin-top: 20px;
    margin-bottom: 35px;
}

section.img_gamespac {
    margin: 30px;
}

section.img_games > img{
    display: block;
    margin: auto;
}
section.img_games {
    margin: 30px;
}


div.valorgames > p {
    margin-right: 43px;

}

section#forms {
    margin: auto;
    text-align: center;
    
}
section#forms > h1 {
    color: #FA8400;
    font-family: Press Start 2P;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 55px; 
}
section#secblog {
    margin-bottom: 35px;
}
section#secblog div {
    display: flex;
    margin-left: 35px;
    
}

section#secblog div#blogint {
    display: inline-block;
    height: 399px;
    margin: 10px 30px 20px 20px;
}

section#secblog div#blogint > p {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    color: #DFDFE4;
}

section#secblog div#blogint > p#autor {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
} 



section#sec2blog {
    margin-bottom: 115px;
}
section#sec2blog div{
    display: inline-block;
    width: 390px;
    height: 332px;
    margin-bottom: 35px;
    margin-left: 35px;
}
section#sec2blog p {
    display: flex;
    color: #DFDFE4;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

section.comum {
    margin: 20px 30px 36px 30px;
    padding-left: 15px;
}
section.comum > p {
    font-size: 16px;
    font-weight: 400px;
    color: #DFDFE4;
}

section.textblog {
    width: 1240px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin: 36px 30px 115px 30px;
    padding-left: 15px;
    color: #DFDFE4;

}

section.textblog > p {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    color: #DFDFE4;
}


form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 600px;
    height: 619px;
    margin: 0 auto;
    margin-bottom: 100px;
}

label {
    font-weight: 400px;
    font-size: 20px;
    line-height: 32px;
    color: #DFDFE4;
    margin-bottom: 5px;
}

input, textarea {
    padding: 10px;
    border: 1px solid white;
    font-size: 1.1rem;
    background-color: #023047;
    margin-bottom: 30px;
    
}

input {
    height: 55px;
}



button#button-form {
    display: flex;
    width: 600px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #FA8400;
    cursor: pointer;
    color: #023047;
    font-size: 20px;
    font-weight: 32px;
}

#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

#modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

}

#modal.hide, #fade.hide {
    display: none;
}


