@charset "URF-8";
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    color: white;
    font-family: Montserrat;
    
}

a{
    text-decoration: none;
}


header{
    width: 1440px;
    height: 152px;
    flex-shrink: 0;
}

body {
    background-color: #023047;
}

div.head {
    display: inline;
    padding: 5px;
}

h1.fontstyle {
    font-family: Press Start 2P, Arial, Helvetica, sans-serif;
    color: white;
    display: inline;
}
header {
    margin: 30px;
}
.divmenu {
    display: inline-block;
    float: right;
}
.menu {
    list-style: none;
    padding: 0px;
}
.menu li{
    display: inline;
    font-size: 20px;
}

.menu li a {
    text-decoration: none;
    padding: 30px;
}

button#especial {
    background-color: #FA8400;
    font-size: 20px;
    color: #023047;
    width: 100px;
    height: 50px;
}


h1.padrao {
    color: #FA8400;
    text-align: center;
    font-family: Press Start 2P;
    font-size: 40px;
    font-style: normal; 
    font-weight: 400;
    line-height: 55px; 
}


section#one > div {
    display: inline;
    margin: 8px;
    width: 400px;
    height: 300px;
    justify-content: center;
    align-items: center;
    
}

div#pac{
    display: flex;
    width: 1240px;
    height: 493px;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
   
}

section#two  div{
    width: 625px;
    margin-left: 10px;
    height: 625px;
    padding-right: 10px;
    display: inline-block;
}

section#two > div > p{
    width: 625px;
    margin-left: 10px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
    

}

div.imgmenu{
    background: url(imagens/aboutus.png), lightgray 50%, cover no-repeat;
    width: 630.816px;
    height: 864px;
    display: flex;
}


section#car {
    margin: 115px 0px;
}


section#Carreira > div {
    border: 2px solid white;
    width: 400px;
    height: 127px;
    padding-left: 25px;
    display: inline-block;
    color:#DFDFE4;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 10px;
    margin-bottom: 10px;
}


div.divint {
    border: 1px solid #DFDFE4;
    border-radius: 5px;
    display: inline-flex;
    padding: 6px 13px;
    color: #DFDFE4;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


footer {
    text-align: center;
    width: 1440px;
    height: 100px;
    flex-shrink: 0;
    border-top: 1px solid #DFDFE4
}
footer > p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


section.textgames {
    width: 1240px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 100px;
}

div.valorgames{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    width: 315px;
    height: 52px;
    display: inline-flex;
    margin-top: 20px;
    margin-bottom: 35px;
}

div.valorgames > p {
    margin-right: 43px;

}

section#forms {
    margin: auto;
    text-align: center;
    
}
section#forms > h1 {
    color: #FA8400;
    font-family: Press Start 2P;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 55px; 
}

section.comum {
    margin: 20px 100px 36px 100px;
}
section.textblog {
    width: 1240px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin: 36px 100px 115px 100px;

}






